<div class="container">
  <h2>Faça parte do MakeYourMake</h2>
  <p>Após o cadastro você já poderá postar as suas fotos</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-danger">Por favor, corrija os erros abaixo:
      <ul>
        <% resource.errors.messages.each do |_, value| %>
          <li><%= value.last %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-inputs">
      <%= f.input :first_name, required: true, autofocus: true, label: 'Nome' %>
      <%= f.input :last_name, required: true, label: 'Sobrenome' %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true, label: 'Senha', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true, label: 'Repetir senha' %>
      <%= f.input :professional, label: 'Sou maquiador e quero mostrar o meu trabalho' %>
    </div>

    <% if resource.professional %>
      <div id="professional_inputs">
    <% else %>
      <div id="professional_inputs" style="display: none">
    <% end %>
      <%= f.input :artistic_name, label: 'Nome Artístico' %>

      <%= f.simple_fields_for :address do |a| %>
        <%= a.input :zip_code, label: 'CEP' %>
        <%= a.input :street, label: 'Rua' %>
        <%= a.input :number, label: 'Número' %>
        <%= a.input :complement, label: 'Complemento' %>
        <%= a.input :district, label: 'Bairro' %>
        <%= a.input :city, label: 'Cidade' %>
        <%= a.input :state, label: 'Estado' %>
        <%= a.input :public, label: 'Quero que meu endereço seja público' %>
      <% end %>

      <%= f.simple_fields_for :telephone_number do |t| %>
        <%= t.input :ddd, label: 'DDD' %>
        <%= t.input :number, label: 'Número' %>
        <%= t.input :public, label: 'Quero que meu número seja público' %>
      <% end %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

