<%= simple_form_for(@make) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :public %>

  <div id="goals">
    <%= f.simple_fields_for :images do |image| %>
      <%= render 'image_fields', f: image %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association 'add image', f, :images  %>
  </div>

  <%= f.submit %>
<% end %>
