
<% if user_signed_in? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://res.cloudinary.com/dzvhno4wr/image/upload/v1507038701/hand-brush-finger-brown-care-powder-1349205-pxhere.com_npk76h.jpg');">
    <div class="content-text">
      <h2><i>Divulgue e Inspire-se nas Makes</i></h2>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://res.cloudinary.com/dzvhno4wr/image/upload/v1507038701/hand-brush-finger-brown-care-powder-1349205-pxhere.com_npk76h.jpg');">
    <div class="content-text">
      <h2><i>Divulgue e Inspire-se nas Makes</i></h2>
      <p>Crie a sua conta e começe agora!</p>
      <%= link_to new_user_registration_path, class: "btn-user-index" do %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        Cadastrar com o E-mail
      <% end %>
      <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn-user-facebook" do %>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Cadastrar com o Facebook
      <% end %>
    </div>
  </div>
<% end %>

<% if params[:busca].present? %>
  <div class="results-wrapper" style="background-color: white; box-shadow: 0 1px 1px 0 #d8d8d8; padding-bottom: 40px">
    <div class="container">
      <div class="row">
        <!-- Found Makes. Load makes cards -->
        <% if @makes.length > 0 %>
          <h2 class="text-center" style="color: #777">Encontramos <%= @makes.length %> maneiras para você ficar linda com '<%= params[:busca] %>'</h2>
          <% @makes.each do |make| %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="make-card">
                <%= link_to make_path(make) do %>
                  <div class="parent-img">
                    <div class="make-img" style="background-image: url('<%= cl_image_path make.images.first.image_url %>')"></div>
                  </div>
                <% end %>
                <div class="make-content flexbox">
                  <div class="make-content-text">
                    <h4><%= make.name %></h4>
                    <p><%= make.user.artistic_name %></p>
                  </div>
                  <% if make_is_liked_by_user?(make) %>
                    <%= link_to '#', class: 'unlike_button', 'data-id': make.id do %>
                      <i class="fa fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to '#', class: 'like_button', 'data-id': make.id do %>
                      <i class="fa fa-heart-o"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        <!-- No makes found. Check if any user was found -->
        <% elsif @users.length > 0 %>
          <h2 class="text-center" style="color: #777">Encontramos <%= @users.length %> maneiras para você ficar linda com '<%= params[:busca] %>'</h2>
          <% @users.each do |user| %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="make-card">
                <%= link_to profile_user_path(user) do %>
                  <div class="parent-img">
                    <% if user.makes.length > 0 && user.makes.first.images.length > 0 %>
                      <div class="make-img" style="background-image: url('<%= cl_image_path user.makes.first.images.first.image_url %>')"></div>
                    <% else %>
                       <div class="make-img" style="background-image: url('https://lorempixel.com/fashion/500/500')"></div>
                    <% end %>
                  </div>
                <% end %>
                <div class="make-content flexbox">
                  <div class="make-content-text">
                    <h4><%= user.artistic_name %></h4>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <!-- No users found. Check if any address was found -->
        <% elsif @addresses.length > 0 %>
          <h2 class="text-center" style="color: #777">Encontramos <%= @addresses.length %> maneiras para você ficar linda em '<%= params[:busca] %>'</h2>
          <% @addresses.each do |address| %>
            <!-- Show only if user is professional -->
            <% if address.user.professional %>
              <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="make-card">
                  <%= link_to profile_user_path(address.user) do %>
                    <div class="parent-img">
                      <% if address.user.makes.length > 0 && address.user.makes.first.images.length > 0 %>
                        <div class="make-img" style="background-image: url('<%= cl_image_path address.user.makes.first.images.first.image_url %>')"></div>
                      <% else %>
                         <div class="make-img" style="background-image: url('https://lorempixel.com/fashion/500/500')"></div>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="make-content flexbox">
                    <div class="make-content-text">
                      <h4><%= address.user.artistic_name %></h4>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

        <!-- Neither makes or users found -->
        <% else %>
          <h2 class="text-center" style="color: #777">Desculpe, não encontramos o que você deseja</h2>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="types-wrapper">
  <div class="container">
    <% if params[:busca].present? %>
      <h2 class="text-center" style="color: #777">Não encontrou a make que estava procurando?</h2>
      <h4 class="text-center" style="color: #777">Temos certeza que uma de nossas categorias ira te ajudar!</h4>
    <% else %>
      <div class="content-text-card">
        <p><i>Confira as nossas principais categorias!</i></p>
      </div>
    <% end %>
    <div class="categories-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-inline text-center">
              <% @types.each do |type| %>
                <li><%= link_to type.name, type_path(type) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% @types.each do |type| %>
        <div class="col-xs-12 col-md-4">
          <%= link_to type_path(type) do %>
            <% if type.make_types.first %>
              <div class="type-card" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= cl_image_path type.make_types.first.make.images.first.image_url %>')">
            <% else %>
              <div class="type-card" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= "http://res.cloudinary.com/dzvhno4wr/image/upload/v1505850835/woman-isolated-brush-orange-makeup-beauty-928759-pxhere.com_chlgle.jpg" %>')">
            <% end %>
              <div class="type-card-content text-center">
                <hr>
                <h2><%= type.name %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

