<div class="user-make-presentation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <div class="make-title">
          <h2><strong><%= @make.name %></strong></h2>
          <div class="make-likes">
            <i class="fa fa-heart"></i>
            <div class="number-heart"><%= @make.likes_count  %></div class="number-heart">
          </div>
        </div>
        <div class="user-description">
          <h4><%= @make.description %></h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="user-information">

          <%= link_to profile_user_path(@make.user.id) do  %>
            <h3>
              <strong><%= @make.user.artistic_name.blank? ? "#{@make.user.first_name} #{@make.user.last_name}" : @make.user.artistic_name  %></strong>
            </h3>
          <% end %>
          <h5>Nome: <%= @make.user.first_name + " " + @make.user.last_name %></h5>

          <div class="user-contact">
          <% if  current_user && @make.user == current_user %>
            <!--<div class="image-btn">
              <%= link_to 'Adicionar imagem', new_make_image_path(@make) %>
            </div>
            -->
            <button type="button" class="btn btn-user hidden-xs" onclick="window.location.href=<%= @make.id %> + '/images/new'">
              Adicione imagem
            </button>
          <% else %>
            <button type="button" class="btn btn-user hidden-xs" data-toggle="modal" data-target="#mymodal">
              Peça seu orçamento
            </button>
          <% end %>

            <div class="shared-buttons">
              <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, class: "fb-share"  do %>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "whatsapp://send?text=" + request.original_url do %>
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://twitter.com/intent/tweet" + request.original_url, class: "twitter-share-button"  do %>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% if @make.images.first && @make.public %>
  <div class="user-makes">
    <div class="show-menu">
      <p>
        Fotos
      </p>
    </div>

    <div class="container">
      <div class="row">
          <% @make.images.each do |image| %>

            <div class="col-xs-12 col-md-4">
                <div class="user-make-card">
                  <div class="make-img" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= cl_image_path image.image_url %>')">

                  </div>
                </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
<% end %>



<%= render 'shared/budget_modal' %>
