<h3>Mailbox</h3>
<div class="mail-total">
  <div class="mailbox">
    <% @mine_conversations.each do |conversation| %>
      <% if conversation.sender == current_user %>
        <% recipient = conversation.recipient %>
      <% else %>
        <% recipient = conversation.sender %>
      <% end %>

      <%= link_to conversation_messages_path(conversation), :class => "mail-item" do %>
        <%= recipient.first_name %>
        <% if conversation.messages.first.nil? %>
        <p>Seja o primeiro em escrever!</p>
        <% elsif conversation.messages.last.user == recipient %>
        <p class="chat-answer"><%= conversation.messages.last.body %></p>
        <% else %>
        <p class="chat-answer">Você: <%= conversation.messages.last.body %></p>
        <% end %>
        <%= conversation.messages.last.created_at.in_time_zone("Brasilia").strftime("%d/%m/%Y %H:%M") %>
      <% end %>
    <% end %>

  </div>
</div>
<!--<div class="chat-contacts">
  <% if @empty_conversations.present? %>
    <h3>Chats iniciados</h3>
    <% @empty_conversations.each do |conversation| %>
      <% if conversation.sender == current_user %>
        <% recipient = conversation.recipient %>
      <% else %>
        <% recipient = conversation.sender %>
      <% end %>
      <div class=”item”>
        <%= recipient.first_name %>
        <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: recipient.id), method: 'post' %>
      </div>
    <% end %>
  <% end %>
</div>

-->
