<div class="makes-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
      <% @makes.each do |make| %>
        <div class="col-xs-12 col-md-6">
          <div class="make-card">
            <%= link_to make_path(make) do %>
              <%= cl_image_tag make.images.first.image_url %>
            <% end %>
            <div class="make-content flexbox">
              <div class="make-content-text">
                <h4><%= make.name %></h4>
                <p><%= make.user.artistic_name %></p>
              </div>
              <%= link_to '#' do %>
                <i class="fa fa-heart-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
