<div class="footer-global">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 footer-company">
          <h3>
            MakeYourMake
          </h3>
          <div class="footer-company-description">
            <p>
              Salvamos as fotos de maquiagens que nós gostariamos de fazer. Divulgamos os maquiadores que nós gostariamos de contratar...
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 footer-social">
          <h3>
            Segue a gente
          </h3>
          <div class="footer-social-links">
            <%= link_to new_user_registration_path do%>
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to new_user_registration_path do%>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to new_user_registration_path do%>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            <% end %>
          </div>
          <br>
          <h3>
            Contato
          </h3>
          <div class="footer-contact">
            <p>contato@makeyourmake.com</p>

          </div>
        </div>
        <div class="col-xs-12 col-sm-4 footer-navegation hidden-xs">
          <div class="footer-navegation-title">
            <h3>MYM</h3>
          </div>
            <div>
              <p>
                <%= link_to "Termos de uso", term_path %>
              </p>
              <p>
                <%= link_to "Política de privacidade", policy_path %>
              </p>
              <p>
                <%= link_to "Sobre nós", institutional_path %>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="under-footer">
  Direitos Autorais © MakeYourMake 2017
</div>
