<div class="footer-global">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 footer-company">
          <h3>
            MakeYourMake
          </h3>
          <div class="footer-company-description">
            <p>
              Acreditamos que a beleza é para gente que sabe ser bela, como Nicolas, que homem mais belo e bem conservado.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 footer-social">
          <h3>
            Segue a gente
          </h3>
          <div class="footer-social-links">
            <%= link_to new_user_registration_path do%>
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to new_user_registration_path do%>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to new_user_registration_path do%>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            <% end %>
          </div>
          <br>
          <h3>
            Contato
          </h3>
          <div class="footer-contact">
            <p>info@makeyourmake.com</p>
            <p>EBAC - Rua Mourato Coelho, 1404.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 footer-navegation hidden-xs">
          <ul>
            <li>
              <%= link_to "Cadastro", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Top maquiadoras", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Eventos", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Sobre nós", new_user_registration_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="under-footer">
  Direitos Autorais © MakeYourMake 2017
</div>
