

<nav class="navbar navbar-default color-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'MakeYourMake', makes_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make para o Dia <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Delineado</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Esfumado</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make para a noite <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Delineado para noite</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Esfumado para noite</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artísticas <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Halloween</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Carnaval</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Personagem</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Por cores <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Nude</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Vermelho</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Preto</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Branco</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Verde</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Laranja</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Lilás</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Rosa</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Azul</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Amarelo</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Casamento <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Durante o dia</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">À noite</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inspirações <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Famosos</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-color">

        <% if user_signed_in? %>
          <!-- logged in navbar -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.artistic_name ? current_user.artistic_name : "#{current_user.first_name} #{current_user.last_name}" %> <span class="caret color-items"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_user_registration_path do %>
                  <span class="glyphicon glyphicon-user color-items"></span> Perfil
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <% if current_user.professional %>
                <li>
                  <%= link_to profile_makes_path do %>
                    <span class="glyphicon glyphicon-eye-open color-items"></span> Minhas Makes
                  <% end %>
                </li>

              <% end %>

              <li role="separator" class="divider"></li>
              <li>
                <%= link_to new_profile_make_path do %>
                  <span class="glyphicon glyphicon-plus-sign color-items"></span> Cadastrar Nova Make
                <% end %>
              </li>
              <li role="separator" class="divider"></li>

              <li>
                <%= link_to profile_liked_makes_path do %>
                  <span class="glyphicon glyphicon-heart-empty color-items"></span> Makes Salvas
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out color-items"></span> Sair
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <!-- Loged out navbar -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o color-items" aria-hidden="true"></i> Entrar / Cadastrar <span class="caret color-items"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in color-items"></span> Entrar
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <span class="glyphicon glyphicon-user color-items"></span> Cadastrar
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <button type="button" class="btn btn-primary">Entrar com o Facebook</button>

            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



