<nav class="navbar navbar-default color-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'MakeYourMake', makes_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make Dia <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Make preta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make colorida</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make artistica</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Make Noite <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Make preta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make colorida</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Make artistica</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maquiagem <span class="caret color-items"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Lábios</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Olhos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Rosto</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Unhas</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-color">

        <% if user_signed_in? %>
          <!-- logged in navbar -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.artistic_name ? current_user.artistic_name : "#{current_user.first_name} #{current_user.last_name}" %> <span class="caret color-items"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_user_registration_path do %>
                  <span class="glyphicon glyphicon-user color-items"></span> Perfil
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <% if current_user.professional %>
                <li>
                  <%= link_to profile_makes_path do %>
                    <span class="glyphicon glyphicon-eye-open color-items"></span> Minhas Makes
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
              <% end %>
              <li>
                <%= link_to '#' do %>
                  <span class="glyphicon glyphicon-heart-empty color-items"></span> Makes Salvas
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out color-items"></span> Sair
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <!-- Loged out navbar -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o color-items" aria-hidden="true"></i> Entrar / Cadastrar <span class="caret color-items"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in color-items"></span> Entrar
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <span class="glyphicon glyphicon-user color-items"></span> Cadastrar
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <button type="button" class="btn btn-primary">Entrar com o Facebook</button>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



