<% content_for :meta_title, "#{@user.artistic_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% if @banner_makes.present? %>
<% content_for :meta_image, cloudinary_url(@banner_makes.last.images.first.image_url) %>
<% end %>

<div class="user-presentation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 position-for-make-user">
        <div class="user-information">
          <h3><strong><%= @user.artistic_name %></strong></h3>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i>
          <%= @user.email %></p>
          <% if @user.telephone_number.present? %>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <%= @user.telephone_number.ddd %>) - <%= @user.telephone_number.number %>
            </p>
          <% end %>
          <% if @user.address.present? %>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <%= @user.address.city %>
            </p>
          <% end %>
          <p>
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <%= @user.description %>
          </p>
        </div>
        <div class="make-user">
          <%= image_tag 'http://res.cloudinary.com/dzvhno4wr/image/upload/c_scale,w_80/v1506956917/placeholder_vhw9ur.png' %>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
      <% if @banner_makes.present? %>
        <div class="banner-user" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= cl_image_path @banner_makes.last.images.first.image_url %>')">
      <% else %>
        <div class="banner-user" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('http://res.cloudinary.com/dzvhno4wr/image/upload/v1506952723/ft_vbnfou.jpg')">
      <% end %>
          <div class="banner-content">
            <div class="banner-user-description">
              <%= @user.artistic_name %>
            </div>
            <div class="banner-user-likes">
              <p><i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= @user.liked_makes.count %></p>
            </div>
          </div>
        </div>
        <div class="user-contact">

          <% if  current_user && @user == current_user %>
            <%= link_to "Criar nova make", new_profile_make_path, class: "btn btn-user hidden-xs"%>
          <% else %>

            <%= link_to "Fale comigo!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', :class => "btn btn-user hidden-xs" %>


          <% end %>

          <div class="shared-buttons">
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, class: "fb-share"  do %>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to "whatsapp://send?text=" + request.original_url do %>
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <% end %>
            <%= link_to "https://twitter.com/intent/tweet" + request.original_url, class: "twitter-share-button"  do %>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="user-makes">
  <div class="show-menu">
    <p>Makes</p>
    <!-- Show filter options if current user is the profile owner -->
    <% if @user == current_user %>
      <ul id="input-filters" class="list-inline" data-id="<%= current_user.id %>">
        <li><input id="non_public" class="checkbox" type="checkbox" name="nao_publico"><span>  Apenas Makes não públicas</span></li>
        <li><input id="no_photos" class="checkbox" type="checkbox" name="sem_foto"> Apenas Makes sem foto</li>
      </ul>
    <% end %>
  </div>

  <div class="my-makes-wrapper">
    <div class="container">
      <div class="row">
        <%= render partial: 'profile/users/makes_container', locals: { makes: @makes } %>
      </div> <!-- End: .row -->
    </div> <!-- End: .container -->
  </div>
</div> <!-- End: .user-makes -->

<%= render 'shared/budget_modal' %>


