<div class="user-presentation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="user-information">
          <h3><strong><%= @user.artistic_name %></strong></h3>
          <p><%= @user.description %></p>
          <p><%= @user.description %></p>
          <p><%= @user.description %></p>
          <p><%= @user.description %></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
      <% if @banner_makes.present? %>
        <div class="banner-user" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= cl_image_path @banner_makes.first.images.first.image_url %>')">
      <% else %>
        <div class="banner-user" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('http://design2web.com.br/blog/wp-content/uploads/2016/05/size_810_16_9_plus-size-modelo.jpg')">
      <% end %>
          <div class="banner-content">
            <div class="banner-user-description">
              <%= @user.artistic_name %>
            </div>
          </div>
        </div>
        <div class="user-contact">

          <% if  current_user && @user == current_user %>


            <button type="button" class="btn btn-user hidden-xs" onclick="">
              <%= link_to "Adicione imagem", new_profile_make_path %>
            </button>
          <% else %>
            <button type="button" class="btn btn-user hidden-xs" data-toggle="modal" data-target="#mymodal">
              Peça seu orçamento
            </button>
          <% end %>

          <div class="shared-buttons">
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, class: "fb-share"  do %>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to "whatsapp://send?text=" + request.original_url do %>
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <% end %>
            <%= link_to "https://twitter.com/intent/tweet" + request.original_url, class: "twitter-share-button"  do %>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="user-makes">
  <div class="show-menu">
    <p>Makes</p>
    <!-- Show filter options if current user is the profile owner -->
    <% if @user == current_user %>
      <ul id="input-filters" class="list-inline" data-id="<%= current_user.id %>">
        <li><input id="non_public" class="checkbox" type="checkbox" name="nao_publico"><span>Apenas Makes não públicas</span></li>
        <li><input id="no_photos" class="checkbox" type="checkbox" name="sem_foto"> Apenas Makes sem foto</li>
      </ul>
    <% end %>
  </div>

  <div class="my-makes-wrapper">
    <div class="container">
      <div class="row">
        <%= render partial: 'profile/users/makes_container', locals: { makes: @makes } %>
      </div> <!-- End: .row -->
    </div> <!-- End: .container -->
  </div>
</div> <!-- End: .user-makes -->

<%= render 'shared/budget_modal' %>

