<div class="user-presentation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="user-information">
          <h3><strong><%= @user.artistic_name %></strong></h3>
          <p><%= @user.description %></p>
          <%  %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
      <% if @banner_makes.present? %>
        <div class="banner-user" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= cl_image_path @banner_makes.first.images.first.image_url %>')">
      <% else %>
        <div class="banner-user" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('http://design2web.com.br/blog/wp-content/uploads/2016/05/size_810_16_9_plus-size-modelo.jpg')">
      <% end %>
        </div>
        <div class="user-contact">

          <% if  current_user && @user == current_user %>


            <button type="button" class="btn btn-user hidden-xs" onclick="">
              Adicione imagem
            </button>
          <% else %>
            <button type="button" class="btn btn-user hidden-xs" data-toggle="modal" data-target="#mymodal">
              Peça seu orçamento
            </button>
          <% end %>

          <div class="shared-buttons">
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, class: "fb-share"  do %>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to "whatsapp://send?text=" + request.original_url do %>
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <% end %>
            <%= link_to "https://twitter.com/intent/tweet" + request.original_url, class: "twitter-share-button"  do %>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <% if @user.makes.first %>


    <% if @user.makes.first.images.first %>
    <div class="user-makes ">
      <div class="show-menu">
        <p>
          Makes
        </p>
      </div>

      <div class="container">

      <div class="row">
          <% @user.makes.each do |make| %>
            <%= render :partial => "shared/make_modal", :locals => {:make => make} %>
            <% if make.images.first && make.public %>
              <div class="col-xs-12 col-md-4">
                <a data-toggle="modal" data-target="#makemodal<%= make.id  %>">
                  <div class="user-make-card">
                    <div class="make-img" style="background-image: linear-gradient(transparent 34%, rgba(0,0,0,0.36) 57%, rgba(0,0,0,0.74) 81%, rgba(0,0,0,.9) 100%), url('<%= cl_image_path make.images.first.image_url %>')">
                      <div class="user-make-text">
                        <%= make.name %>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

<%= render 'shared/budget_modal' %>

