<!DOCTYPE html>
<html>
  <head>
    <title>MakeYourMake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>

  <body>
    <div>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Log in', new_user_session_path %>
    </div>
    <%= yield %>



    <%= javascript_include_tag 'application'%>
  </body>
</html>
